In [1]:
x=10
y=20.45
z=4+5j
a=True
s="string1"
s1='string2'
print(type(x),type(y),type(z),type(a),type(s),type(s1))

<class 'int'> <class 'float'> <class 'complex'> <class 'bool'> <class 'str'> <class 'str'>

In [2]:
s

'string1'

In [11]:
print(s)
print(s[5])
print(s[6])
print(s[-1])
print(s[2:6])
print(s[2:])
print(s[::2])
print(s[::-1])

string1
g
1
1
ring
ring1
srn1
1gnirts

In [1]:
str1=input("Enter a string : ")
print(str1==str1[::-1])

Enter a string : madam
True

In [3]:
str1=input("Enter a string : ")
if(str1==str1[::-1]):
    print("palindrome")
else :
    print("not a palindrome")

Enter a string : madam
palindrome

In [18]:
#built_in functions
s="charan"
print(len(s))
print(min(s))
print(max(s))

6
a
r

In [7]:
ord('A')

65

In [8]:
ord('Z')

90

In [9]:
ord('a')

97

In [10]:
ord('z')

122

In [11]:
chr(65)

'A'

In [13]:
chr(122)

'z'

In [14]:
a=int(input("enter a : "))
b=int(input("enter b : "))
a,b=b,a
print("a : ",a)
print(b)

enter a : 25
enter b : 15
15
25

In [22]:
x=10
y=str(10)
print(len(s))
print(min(s))
print(max(s))
print(y)

6
a
r
10

#string built-in methods
1. isalpha()
2. isdigit()
3. isalnum()
4. lower()
5. upper()
6. isupper()
7. islower()
8. capitalize()
9. replace() #to replace sub strings

In [27]:
s1="abc"
s2="abc123"
s3="123"
s4="abc123 abc123"
##print(s1.isalpha())#true
##print(s2.isalpha())#false
##print(s3.isalpha())#false
##print(s1.isdigit())#false
##print(s2.isdigit())#false
##print(s3.isdigit())#true
##print(s1.isalnum())#true
##print(s2.isalnum())#true
##print(s3.isalnum())#true
print(s4.isalnum())

False

In [29]:
s5='''abc 123
abc 123'''
print(s5)

abc 123
abc 123

In [34]:
print(s1.upper())
print(s1.lower())

ABC
abc

In [37]:
s6="abc def ghi"
print(s6.capitalize())
s6=s6.replace("def","xyz")
print(s6)

Abc def ghi
abc xyz ghi

In [38]:
x=10
y=20
print(id(x),id(y))
print(x is y)

140710048866992 140710048867312
False

In [39]:
x=10
y=10
print(id(x),id(y))
print(x is y)

140710048866992 140710048866992
True

In [40]:
#operators
#arithematic operators: +,-,*,/,%,//,**
x=5
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

7
3
10
2.5
1
2
25

In [41]:
#Relational operator:<,<=,>,>=,!
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)
print(x!=y)

False
False
True
True
True

In [42]:
#logical operator: and,or,not
print(x<y and x<10)
print(x<y or x<10)
print(not x)

False
True
False

#bitwise operations: `,^,|,&,<<,>>
#Assignment operators: =,+=,-=,*=,/=,//=,**=
#membership: in,not in
#indentity operators: is,is not

In [43]:
str1="abc def"
print('d'in str1)
print('d'not in str1)

True
False

In [44]:
x=10
y=20
print(id(x),id(y))
print(x is not y)

140710048866992 140710048867312
True

In [45]:
x=int(input("enter x value"))
y=int(input("enter y value"))
x+=y
print(x)

enter x value20
enter y value20
40

In [46]:
x=int(input("enter x value"))
y=int(input("enter y value"))
x-=y
print(x)

enter x value20
enter y value15
5

In [47]:
x=10
y=20
print(x if x<y else y)

10

In [50]:
x=10
y=10
if x<y:
    print("x<y")
elif x>y:
    print("y<x")
else:
    print("x=y")

x=y

Control statements :
1.if
2.else
3.elif

Accept three integers and print the largest integer on the screen

In [51]:
a=int(input(" a : "))
b=int(input(" b : "))
c=int(input(" c : "))
if a>b:
    if a>c:
        print("a is largest number : ",a)
    else:
        print("C is largest number : ",c)
else:
    if b>c:
        print("b is the largest number : ",b)
    else:
        print("c is the largest number : ",c)

 a : 10
 b : 25
 c : 15
b is the largest number :  25

In [56]:
str1=input()
x,y,z=str1.split()#input().split()
print(x)
print(y)
print(z)

1
2
3

In [60]:
#map(function,iterable object)
a=list(map(int,input().split()))
print(a)

1 2 3 4 5 5
[1, 2, 3, 4, 5, 5]

In [8]:
print("Enter maths,physics and chemistry marks : ")
a=list(map(int,input().split()))
if a[0] < 30 or a[1]<30 or a[2]<30:
    print("FAIL")
else:
    avg=(a[0]+a[1]+a[2])/3;
    print("Average : ",avg)
    if avg>75:
        print("A")
    elif avg>60 and avg<=75:
        print("B")
    elif avg>45 and avg<=60:
        print("C")
    elif avg>30 and avg<=45:
        print("D")
    else:
        print("FAIL")

Enter maths,physics and chemistry marks :
55 98 77
Average :  76.66666666666667
A

In [10]:
n=int(input("Enter a variable : "))
i=1
while i<=n:
    print(i,end=" ")
    i=i+1

Enter a variable : 12
1 2 3 4 5 6 7 8 9 10 11 12

In [13]:
digits=int(input("Enter a number : "))
print(len(str(digits)))

Enter a number : 25544867134241
14

In [14]:
n=int(input())
c=0
while n!=0:
    c+=1
    n=n//10
print(c)

31783315142742
14