In [6]:
#count no of digits in the string and sum
s=input()
i=0
count=0
st=0
while i<len(s):
    if s[i].isdigit():
        count=count+1
        st = st + int(s[i])
    i=i+1
print(count)
print(st)

dsajbmd76575dasd876
8
51

In [ ]:
#for loop usage
#1.using range()
#2.using iterable object
n=int(input("Enter a number : "))
for i in range(1,n+1,3):
    print(i,end=" ")

In [21]:
#input:python
#output:p y t h o n
st=input()
i=0
while i<len(st):
    print(st[i],end=" ")
    i=i+1
print()
for i in range(0,len(st)):
    print(st[i],end=" ")
print()
for i in st:
    print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n

## collection type Data type:
## List:
1. for creating a list use [ ]
2. lists are mutable
3. lists are indexed
4. lists are ordered
5. lists allows duplicate values

In [20]:
list1=[8,53,40,57,13,34,"friends",False,[1,2,3]]
print(list1[-1])
print(list1[0:2])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[8, 53]
sdneirf
3

In [39]:
#manipulating a list
list1=[34,45,8,53]
list2=[23,34,45,56]
print("Before ading elements : ",list1)
list1.append(100)
list1.insert(1,400)
list1.append(200)
list1.append(300)
print("After adding elements :",list1)
list1.extend([1,2,3])         
print(list1)
#list1.pop(1)
#print(list1)
list1.remove(100)
list2.clear()
print(list1)
list2

Before ading elements :  [34, 45, 8, 53]
After adding elements : [34, 400, 45, 8, 53, 100, 200, 300]
[34, 400, 45, 8, 53, 100, 200, 300, 1, 2, 3]
[34, 400, 45, 8, 53, 200, 300, 1, 2, 3]

[]

In [40]:
#Replacing an element
list1[5]=1000
list1

[34, 400, 45, 8, 53, 1000, 300, 1, 2, 3]

In [63]:
list3=[23,54,32,11,9]
list3.sort(reverse = True)
list3
list3.reverse()
list3

[9, 11, 23, 32, 54]

In [65]:
list3.count(54)

1

In [67]:
list3.index(11)

1

In [71]:
list3.append("python")
list4 = list3
print(list4," ",list3)

[9, 11, 23, 32, 54, 'python']   [9, 11, 23, 32, 54, 'python']

In [72]:
list5=list4.copy()
list5

[9, 11, 23, 32, 54, 'python']

In [73]:
l1=[1,2,3]
l2=l1
print(l2)

[1, 2, 3]

In [76]:
l3=l1.copy()
l3

[1, 2, 3]

In [78]:
print(l1,l2,l3)
l1.append(100)
print(l1,l2,l3)

[1, 2, 3, 100] [1, 2, 3, 100] [1, 2, 3]
[1, 2, 3, 100, 100] [1, 2, 3, 100, 100] [1, 2, 3]

In [88]:
list7=[]
list8=[]
list6=[2,4,5,7,8]
for i in range(0,len(list6)):
    list7.append(list6[i]**2)
for i in list6:
    list8.append(i**2)
list7

[4, 16, 25, 49, 64]

In [90]:
l5=[2,3,4,5,6]
for i in l5:
    if(i%2==0):
        print(i)

2
4
6

In [96]:
#create a list and accept values of the list at run time
#and print sum of all the elements of the list at run time
l6=[]
s=0
n=int(input("Enter no of values : "))
for i in range(0,n):
    l6.append(int(input()))
    
print(sum(l6))   
l6

Enter no of values : 5
2
1
4
5
6
18

[2, 1, 4, 5, 6]

## Tuple :

In [98]:
x=23,34,45,56,67
print(x)
print(type(x))

<class 'tuple'>

In [99]:
tup1 = (23,34,5)
x,y,z = tup1
print(x,y,z)

23 34 5

### Dictionary :
#### Syntax :{Key 1: value 1,key 2: value 2,key 3: value 3,...}
##### key:
1. key should be unique
2. key should be immutable-->int,float,string,tuple

In [102]:
dict1 = {"name":"aunty","course":"brain-eating","address":"mumbai"}
dict1

{'name': 'aunty', 'course': 'brain-eating', 'address': 'mumbai'}

In [103]:
#replace values
dict1["course"]="dry-wash"
print(dict1)

{'name': 'aunty', 'course': 'dry-wash', 'address': 'mumbai'}

In [104]:
#Adding entry
dict1["college"]="GITAM"
print(dict1)

{'name': 'aunty', 'course': 'dry-wash', 'address': 'mumbai', 'college': 'GITAM'}

In [106]:
#Removing Entry
del dict1["address"]
print(dict1)

{'name': 'aunty', 'course': 'dry-wash', 'college': 'GITAM'}

## Function :
### def name_of_the_function(arg list):
#### statements
#### return

In [108]:
def add(x,y):#function definition
    return x+y

print(add(10,20))
print(add(100,200))

30
300

In [110]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x

print(cube(7))

343

In [111]:
string="my name is x"
for i in string.split():
    print(i,end=", ")

my, name, is, x,

In [119]:
for i in [1,2,3,4][::-1]:
    print (i,end=" ")

4 3 2 1

In [116]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2],end=" ")

[1, 3, 5, 7, 9]

In [114]:
x=0
while False:
    x=x+1
    print('so good to see you.')